.contact-form-image {
  width: 100%;
  margin-bottom: 5em;
}

.containerContactMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25em;
}

.form-control {
  width: 50em !important;
}
